In this problem, based on the Orange-Telecom-Churn-Data.csv data set, first read in the dataset, do some data preprocessing, and then use the K-NN model to predict whether users will be lost based on their characteristics.在这个练习中，我们使用电信企业的客户流失数据集，Orange_Telecom_Churn_Data.csv（存放在当前目录下）。我们先读入数据集，做一些数据预处理，然后使用K近邻模型根据用户的特点来预测其是否会流失。

### Step 1第一步：
* Read the dataset into the variable data and view the first 5 rows. 将数据集读入变量data中，并查看其前5行。
*Remove the three columns "state", "area_code", and "phonenumber".
* 去除其中的“state"，"area_code"和"phone_number"三列。

In [1]:
data = pd.read_csv("C:/Users/ASUS/Desktop/HW2/Orange_Telecom_Churn_Data.csv")
data.head(5)
# Read the dataset into the variable “data“” and view the first 5 rows.将数据集读入变量data中，并查看其前5行

In [2]:
data.drop(columns = ["state", "area_code", "phone_number"], in
# Remove the three columns "state", "area_code", and "phonenumber".去除“state"，"area_code"和"phone_number"三列

### Step 2 第二步：
* Data of some column such as' intl_plan ',' voice_mail_plan ', and' chunned ' need to be converted into numerical data.
* 有些列的值是分类数据，如'intl_plan', 'voice_mail_plan', 'churned'这三列，需要把它们转换成数值数据。

In [6]:
from sklearn.preprocessing import LabelBinarizer

lb = LabelBinarizer()

for col in ['intl_plan', 'voice_mail_plan', 'churned']:
    data[col] = lb.fit_transform(data[col])
data.head(5)

,account_length,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,128,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,107,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,137,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,84,1,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,75,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

### Step 3第三步：
* Separate the data of all other columns except for the "chopped" column from the data of the "chopped" column, creating two data tables, X_data and y_data. 
*Use a scaling method mentioned in class to scale X_data.
*将除“churned”列之外的所有其他列的数据与“churned”列的数据分开，即创建两张数据表，X_data和y_data。
* 使用课件中提到的某种尺度转换方法（scaling method）来缩放X_data。

In [3]:
# 生成X_data和y_data
y_data = data["churned"]
data_new = data.drop(columns = ["churned"])
X_data = data_new

In [4]:
# 缩放X_data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler = scaler.fit(X_data)
X_data = scaler.transform(X_data)
X_data

### Step 4 第四步：
* Create a K-nearest neighbor model with k=3 and fit X_data and y_data.
* 创建一个k=3的K近邻模型，并拟合X_data和y_data。

In [5]:
# Create a K-nearest neighbor model with k=3 and train the model创建一个3NN模型，并训练
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 3)

knn.fit(X_data, y_data)

### Step 5第五步：
* Use the K-nearest neighbor model trained in the previous step to predict the same dataset, i.e. X_data, and evaluate the accuracy of the prediction results.
* 用上一步训练好的K近邻模型预测相同的数据集，即X_data，并评测预测结果的精度。

In [6]:
# Prediction and evaluation 预测并评价
y_pred = knn.predict(X_data)
from sklearn.metrics import accuracy_score
print("Accuracy:", float(accuracy_score(y_data, y_pred))*100, "%")

### Step 6 第六步：
* Train 20 different K-nearest neighbor models by changing the K value from 1 to 20. Weights use uniformly distributed weights (default). The exponential parameter (` p `) of Minkowski distance can be set to 1 or 2 (as long as it is consistent). Store the accuracy and k value obtained from each model in a list or dictionary. 
* 将K值从1变化到20，训练20个不同的K近邻模型。权重使用均匀分布的权重（缺省的）。闵科夫斯基距离的指数参数(`p`)可以设为1或者2（只要一致即可）。将每个模型得到的精度和其`k`值存到一个列表或字典中。

* Draw a chart showing the relationship between accuracy and k. What do you observe when 'k=1'? Why?
* 将`accuracy`和`k`的关系绘成图表。当`k=1`时，你观察到了什么? 为什么?

In [ ]:
{1: 1.0, 2: 0.9252, 3: 0.9416, 4: 0.9178, 5: 0.9334, 6: 0.9152, 7: 0.9282, 8: 0.909, 9: 0.9172, 10: 0.905, 11: 0.9124, 12: 0.9024, 13: 0.9084, 14: 0.8988, 15: 0.9054, 16: 0.8972, 17: 0.902, 18: 0.894, 19: 0.8994, 20: 0.8906}

In [ ]:
#我发现了k=1时 accuracy也为1，准确性最高，因为当k=1时，模型会直接采用与待预测点距离最近的一个点的类别作为预测结果。这样可以保证模型完全反映训练数据的结构，不会因为其他点的干扰而偏离。